[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]
pymarkdownlint = {git = "https://github.com/cheukyin699/pymarkdownlint.git"}
pycodestyle = "*"
codecov = "*"
pytest-cov = "*"
pydocstyle = "*"
ipython = "*"

[requires]
python_version = "3.7"
